img {
  height: 300px;
  width: auto;
}

.ui.inverted.segment {
  background-color: black;
}

.ui.icon.button {
  float: right;
  color: blue;
  margin-right: 0;
  margin-left: auto;

}

.jumbotron {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 0;
  font-size: 5em;
}

#detailImage {
  height: 700px;
  width: auto;
}
