body {
  text-align: center;
}
img {
  height: 300px;
  width: auto;
}

li {
  list-style-type: none;
}

.ui.inverted.segment {
  background-color: black;
}



.jumbotron {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 0;
  font-size: 5em;
}

.well {
  width: 20%;
}

#detailImage {
  height: 700px;
  width: auto;
}

#login {
  float: right;
  margin-right: 0;
  margin-left: auto;

}
