body {
  text-align: center;

}

h1, h2, h3 {
    font-family: 'Proza Libre', sans-serif;
}

h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}
img {
  height: 300px;
  width: auto;
}

li {
  list-style-type: none;
}

.container {
  margin-bottom: 20px;
}

.ui.inverted.segment {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}



.jumbotron {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 0;
  font-size: 5em;
  height: 10%;
  width: auto;
}

.well {
  width: 100%;
  text-align: center;
}

.ui.form {
  width: 50%;
  display: block;
  margin: auto;
}

.ui.button {
  margin: 10px;
}

#detailImage {
  height: 700px;
  width: auto;
}



/*#cartImage {
  height: 300px;
  width: auto;
}*/

#login {
  float: right;
  margin-right: 0;
  margin-left: auto;

}
