<h1>test text in index</h1>
<div class="row">
  <div class="col-sm-offset-4">
  {{#link-to 'shoes'}}<img src="./../image/shoes.jpg" alt="shoes" />{{/link-to}}
</div>
</div>
<br>
<div class="row">
  <div class="col-sm-5">
    {{#link-to 'men'}}<img src="./../image/shirt.jpg" alt="men" />{{/link-to}}
  </div>
  <div class="col-sm-5">
    {{#link-to 'women'}}<img src="./../image/dress.jpg" alt="men" />{{/link-to}}
  </div>

</div>
{{new-item addItem="addItem"}}
