<div class="row">

  {{#link-to 'shoes'}}<img src="./../image/shoes.jpg" alt="shoes" />{{/link-to}}

</div>
<br>
<div class="row">
  <div class="col-xs-6">
    {{#link-to 'men'}}<img class="img-responsive" src="./../image/shirt.jpg" alt="men" />{{/link-to}}
  </div>
  <div class="col-xs-6">
    {{#link-to 'women'}}<img class="img-responsive" src="./../image/dress.jpg" alt="men" />{{/link-to}}
  </div>

</div>
{{new-item addItem="addItem"}}
